/***** BASE STYLES *****/

body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0 auto;
  background: #0D1B31;
  max-width: 800px;
}

h1 {
  font-size: 2.25em;
  color: #C8A0D1;
  margin-top: 1em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #EDB77D;
  text-align: center;
  padding-bottom: 2em;
}

h4 {
  color: #ED8B7D;
  font-weight: bold; 
}

a {
  text-decoration: none;
  color: #ED8B7D;
  line-height: 2;
}

p {
  color: #90968C;
}

footer {
  text-align: center;
  padding-top: 1em;
}