/***Global Styles***/
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5e5d5e;

}

header h1 {
    text-align: center;
    font-size: 30px;
    background-color:rgb(135, 167, 168); 
    color:darkslategrey; 
    padding: 20px;
    border-style: double;
    border-radius: 10px;
    
}
/***Section Styles**/
h4 {
    color: darkslategrey;
    font-size: 20px;
}
p {
    font-weight: 500;
}
footer {
    text-align: center;
    padding: 10px 0px;
}
img {
    height: 300px;
    width: 300px; 
    display: block;
    margin: 0 auto;
}