/********Global Style********/
body {
    background: #E356F5;
    text-align: center;
}

h1 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 900;
    text-transform: uppercase; 
}

h4 {
    font-family: "Funnel Display", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    text-align: center;
}

img {
    width: 300px;
}
